.navbar-fixed-left {
  width: 300px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 40px;
}

.profile-header-img > img.img-circle {
    width: 150px;
    height: 150px;
    border: 2px solid #000000;
}

.profile-header {
    margin-top: 43px;
}

.jumbotron {
  background-color: #3d3f7d;
  color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#skill-options {
  color: #ffffff;
  background-color: #000000;
  border: #000000;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #eeeeea;
}

.carousel{
  width:100%;
  max-height: 400px !important;
}

.item {
    background-color:#555555;
    display:block;
}

#headline {
    font-family:"Arial Black";
    color: #efeda5;
    font-size: 0.8em;
    display: inline-block;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
    padding: 0;
    margin: 0;
  }

  #newsitem {
      font-family:"Arial Black";
      color: #d9edf7;
      font-size: 1.8em;
      display: inline-block;
      text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
      padding: 0;
      margin: 0;
    }

  .main-text
  {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #fff;
    text-decoration: overline;
    font-size: 50px;
    /*  background-color: rgba(0, 0, 0, 0.65);*/
  }

.slider-size {
    height: 200px; /* This is your slider height */
  }

.carousel-caption{
    color:#000;
    position:static;
}
