<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <meta charset="utf-8">
    <title>Connection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"  media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/common.css" media="screen" title="no title" charset="utf-8">
   <!-- <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">-->
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="controllers/profileController.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body id="home" ng-app="userApp" ng-controller="userCtrl" ng-init="getAllPost()">
<div id="wrapper">
    <div class="overlay"></div>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse" style="box-shadow: 0px 1px 5px #222222;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Connection</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="appNavBar">
            <ul class="nav navbar-nav">
                <li class="active" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#myAcount"><span class="glyphicon glyphicon-user"></span>  My Account</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search.." ng-model="userSearch">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container text-center">

<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
  <div class="item active"><!-- class of active since it's the first item -->
    <div class="carousel-caption">
    <p>Caption text here asdasd asdada asdad asdada adadlkjhk vzvzv uoosa fzvzv zxvzvz ffsbxnjkn sjdfsjhf sfafa</p>
    </div>
  </div>
  <div class="item">
    <div class="carousel-caption">
    <p>Caption text here adaad asfws fsgsg erww dgsgsg sdsgsg fsfs asfaf afasfaf aafasf afafaf</p>
    </div>
  </div>
  <!-- /.carousel-inner -->
  <!--  Next and Previous controls below
    href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<br><br>
<div class="row">
    <div class="col-sm-12 animate-enter">
        <div class="well slideanim slide">
            <form>
                <textarea name="status" ng-model="post.requirement" rows="3" cols="150"></textarea>
                <br>
                <!--<input type="hidden" ng-model="post.datetime" value="{{dateTime}}">-->
                <button type="button" class="btn btn-success" ng-click="sendRequirement()">
                    Post Status
                </button>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="well slideanim slide" ng-repeat="post in posts | orderBy : '-datetime'">
           <!-- <table class="">
                <tr>
                    <td>
                        <img src="images/default_profile.jpg" class="img-circle" width="50" height="50" alt="Profile" />
                    </td>
                    <td> Date : </td>
                    <td><span><strong>{{post.datetime}}</strong></span></td>
                    <td> Message : </td>
                    <td>
                        <span><strong>{{post.requirement}}</strong></span>
                    </td>
                </tr>
            </table>-->
             <div class="list-inline">
                <p> <img src="images/default_profile.jpg" class="img-circle" width="50" height="50" alt="Profile" /></p>
                <p>Date :
                    <span><strong>{{post.datetime}}</strong></span></p>
                <p>Message :
                    <span><strong>{{post.requirement}}</strong></span></p>
              </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
